.cv-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    width: fit-content;

    margin: 15px 0;
    padding: 12px 20px;

    background-color: #1f1f1f;
    color: #ffffff;

    border: 1px solid #ffffff33;
    border-radius: 8px;

    font-weight: 500;
    text-decoration: none;

    transition: all 0.25s ease;
}

.cv-button i {
    font-size: 0.9rem;
    transition: color 0.25s ease;
}

.cv-button:hover {
    color: #000000;
    border-color: #ffffff;
}

/* Language Button */
#lang-button{
    position: absolute;
    display: flex;
    right: 15px;
    top: 15px;
    z-index: 99;
}

#lang-button a{
    background: none;
}

#lang-button img{
    width: 50px;
}