/* Hero Arrow */
.scrollHint {
    position: absolute;
    display: inline-block;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    overflow: auto;
    animation: bounce 1s infinite ease-in-out;
    text-decoration: none;
    color: var(--button-arrow-text-color);
    font-size: 1.5rem;
    line-height: 1.5;
}

.scrollHint p{
    margin-bottom: 0;
}

.arrow {
    font-size: 2.5rem;
    cursor: pointer;
}
