/* Variables */
@import url(variables.css);

/* Animation */
@import url(animation.css);

/* Layout */
@import url(layout/header.css);
@import url(layout/nav.css);
@import url(layout/main.css);
@import url(layout/footer.css);

/* Components */
@import url(components/button.css);
@import url(components/scrollHint.css);
@import url(components/loader.css);

/* *{
    outline: solid red 2px;
} */

html{
    scroll-behavior: smooth;  
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    height: 100vh; /* A Remplacer par 100% quand il y à du contenu */

    color: var(--default-text-color);
    background: var(--default-background-color);

    font-family: 'Inter', sans-serif;
    user-select: none;
}

/* Link Style */
.link{
    color: var(--default-text-color);
    text-decoration: none;
}

.link:hover{
    transform: scale(1.05);
    text-decoration: underline;
}

/* Disabled Link */
.disabled{
    pointer-events: none;
    color: rgb(152, 152, 152) !important;
}