:root{
    --default-text-color: #1c1c1c;
    --default-background-color: #FAF0E6;

    --title-text-color: #313131;
    --title-hover-color: #414141;

    --facts-text-color: #fbf7f3;
    --facts-background-color: #1c1c1c;

    --project-subtitle-text-color: #3a3a3a;

    --projects-btn-color:  rgb(51, 46, 46); 
    --projects-btn-hover-color:  rgb(66, 66, 66); 

}